<launch>
  <node name="change_vr_view" pkg="data_collection" type="change_vr_headset_view_sim.py" output="screen"></node>
  <node name="base_motion" pkg="data_collection" type="rudder_vive_tracker.py" output="screen"></node>

  <include file="$(find natnet_bridge)/launch/natnet_bridge.launch" />

<!-- Launch rivz display -->
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find data_collection)/rviz/user_study_sim.rviz" output="screen" />

</launch>